.main {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #f0f0f0;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
  &__header {
    background-color: rgba(255, 255, 255, 0.6);
  }
  &__task_name {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &__button:hover {
    cursor: pointer;
  }
}
